@charset "utf-8";

// -------------------------------------------------------
// App
// -------------------------------------------------------

html {
  background-color: #f3f3f3;

  color: $text-color;

  font-size: 1em;
  font-family: "silkscreennormal", Verdana, sans-serif;
  line-height: 1.4;
}

// Add the line-height as a the default spacing
h1, h2, h3, h4, h5, h6,hgroup,
ul, ol, dd,
p, figure,
pre, table, fieldset, hr {
  margin-bottom: 1.4rem;
}

// -------------------------------------------------------
// Page
// -------------------------------------------------------

.page {
  background-color: $background-color;
}

.page-content {
  margin: 0 auto;
  width: 980px;
  min-height: 400px;
}

// -------------------------------------------------------
// Links
// -------------------------------------------------------

a {
  @extend %link;
}

// -------------------------------------------------------
// Selection
// -------------------------------------------------------

// Change the selection to white on green
::-moz-selection {
  background: $brand-color;
  color: white;
}

// Change the selection to white on green
::selection {
  background: $brand-color;
  color: white;
}

// -------------------------------------------------------
// Classes
// -------------------------------------------------------

%link {
  color: $brand-color;
  text-decoration: none;

  &:hover  { text-decoration: underline; color: darken($brand-color, 10%); }
  &:active { color: lighten($brand-color, 20%); }
  &:focus  { color: $brand-color; }
}

// -------------------------------------------------------
// Utils
// -------------------------------------------------------

.align-center {
  text-align: center;
}
