@charset "utf-8";

// -------------------------------------------------------
// Footer
// -------------------------------------------------------

.page-footer {
  margin-top: 50px;
  padding: 20px 0;

  background-color: #f3f3f3;
  border-top: 4px solid #dddddd;

  font-size: 1.2rem;
  text-align: center;

  p { margin: 0; }
}
