<header class="page-header">

  <div class="parallax parallax-1"></div>
  <div class="parallax parallax-2"></div>
  <div class="parallax parallax-3"></div>

  <section>
    <a href="/shmupfest" title="Home" class="page-homelink">
      <img class="page-splash"
           title="Stunfest"
           alt="Stunfest"
           src="/shmupfest/static/images/stunfest.png" />

      <h1 class="page-title">Shmupfest - Stunfest 2014</h1>

      <nav class="menu">
        <ul class="links">
          <li><a href="/shmupfest/gallery">Galerie</a></li>
          <li><a href="http://youtu.be/N4cRAA7Q-p4">Trailer</a></li>
          <li><a href="/shmupfest/play">Play!</a></li>
        </ul>
      </nav>
    </a>
  </section>

</header>
