@font-face {
  font-family: 'silkscreennormal';
  src: url("/shmupfest/static/fonts/slkscr-webfont.eot");
  src: url("/shmupfest/static/fonts/slkscr-webfont.eot?#iefix") format("embedded-opentype"), url("/shmupfest/static/fonts/slkscr-webfont.woff") format("woff"), url("/shmupfest/static/fonts/slkscr-webfont.ttf") format("truetype"), url("/shmupfest/static/fonts/slkscr-webfont.svg#silkscreennormal") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  background-color: #f3f3f3;
  color: #1e1e1e;
  font-size: 1em;
  font-family: "silkscreennormal", Verdana, sans-serif;
  line-height: 1.4; }

h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dd,
p, figure,
pre, table, fieldset, hr {
  margin-bottom: 1.4rem; }

.page {
  background-color: #fafafa; }

.page-content {
  margin: 0 auto;
  width: 980px;
  min-height: 400px;
  text-align: center; }
  .page-content ul {
    list-style: none; }

::-moz-selection {
  background: #d4281b;
  color: white; }

::selection {
  background: #d4281b;
  color: white; }

a {
  color: #d4281b;
  text-decoration: none; }
  a:hover {
    text-decoration: underline;
    color: #a71f15; }
  a:active {
    color: #ec7269; }
  a:focus {
    color: #d4281b; }

.align-center {
  text-align: center; }

.page-back {
  display: table;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .page-back .back {
    display: table-cell; }
  .page-back .hashtag {
    display: table-cell;
    text-align: right; }

.page-header {
  position: relative;
  margin-bottom: 50px;
  min-height: 400px;
  background-color: #161617;
  border-bottom: 4px solid #dddddd;
  color: white;
  text-align: center;
  z-index: 1; }

.page-homelink {
  color: white;
  border: none;
  outline: none; }
  .page-homelink:hover, .page-homelink:focus, .page-homelink:visited, .page-homelink:active {
    color: white;
    text-decoration: none;
    outline: none; }

.page-splash {
  padding: 10px 0;
  max-width: 100%; }

.page-title {
  font-size: 3rem;
  font-weight: 300; }

.menu {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%; }

.links {
  margin: 0 auto;
  max-width: 736px;
  text-align: left; }
  .links li {
    display: inline-block;
    margin-right: 10px; }

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: -1; }

.parallax-1 {
  background: url("static/images/background-1.png") repeat-x center;
  -webkit-animation: slide 12s linear infinite;
  -moz-animation: slide 12s linear infinite;
  -ms-animation: slide 12s linear infinite;
  -o-animation: slide 12s linear infinite;
  animation: slide 12s linear infinite; }

.parallax-2 {
  background: url("/shmupfest/static/images/background-2.png") repeat-x center;
  -webkit-animation: slide 9s linear infinite;
  -moz-animation: slide 9s linear infinite;
  -ms-animation: slide 9s linear infinite;
  -o-animation: slide 9s linear infinite;
  animation: slide 9s linear infinite; }

.parallax-3 {
  background: url("/shmupfest/static/images/background-3.png") repeat-x center;
  -webkit-animation: slide 6s linear infinite;
  -moz-animation: slide 6s linear infinite;
  -ms-animation: slide 6s linear infinite;
  -o-animation: slide 6s linear infinite;
  animation: slide 6s linear infinite; }

@-webkit-keyframes slide {
  from {
    background-position: 0px; }

  to {
    background-position: 2000px; } }
@-moz-keyframes slide {
  from {
    background-position: 0px; }

  to {
    background-position: 2000px; } }
@-o-keyframes slide {
  from {
    background-position: 0px; }

  to {
    background-position: 2000px; } }
@keyframes slide {
  from {
    background-position: 0px; }

  to {
    background-position: 2000px; } }
.page-footer {
  margin-top: 50px;
  padding: 20px 0;
  background-color: #f3f3f3;
  border-top: 4px solid #dddddd;
  font-size: 1.2rem;
  text-align: center; }
  .page-footer p {
    margin: 0; }

.gallery {
  width: auto !important;
  text-align: center; }

.backers {
  list-style: none;
  padding: 0;
  width: 100%; }
  @media only screen and (min-width: 650px) {
    .backers {
      margin: 0 auto;
      width: 650px; } }

.backer {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 60px; }

.backer-image {
  border: 1px solid #eee;
  margin-bottom: 10px; }

.backer-info {
  margin: 0 auto;
  width: 120px;
  font-size: 1rem;
  line-height: 30px;
  word-wrap: break-word; }

.misc {
  text-align: center; }
  .misc ul {
    list-style: none;
    padding: 0; }
