@charset "utf-8";

// -------------------------------------------------------
// Gallery
// -------------------------------------------------------

.gallery {
  width: auto !important;
  text-align: center;
}

.backers {
  list-style: none;
  padding: 0;

  width: 100%;

  // ---------------------
  // Large
  // ---------------------

  // Put the metadata in the flow on a small screen
  @media only screen and (min-width: 650px) {
    margin: 0 auto;
    width: 650px;
  }
}

.backer {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 60px;
}

.backer-image {
  border: 1px solid #eee;
  margin-bottom: 10px;
}

.backer-info {
  margin: 0 auto;
  width: 120px;

  font-size: 1rem;
  line-height: 30px;
  word-wrap: break-word;
}
